AWS_REGION=eu-west-3
CLUSTER_NAME=le-claster-eks
AWS_ACCOUNT_ID=123456789012
# comma-separated IAM usernames (no spaces)
CLUSTER_USERS=foulen1-loonaris,foulen2-loonaris,foulen3-loonaris,foulen4-loonaris
